html,
body {
	padding: 0;
	margin: 0;
	font-family: "Archivo" !important;
}
p,
button {
	font-family: "Archivo" !important;
}
.block__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	margin-bottom: 3rem;
}
.block__center {
	text-align: center;
}
